<h1>Choose your beer</h1>

<div>
    <% beersFromApi.forEach(beer => { %>
        <img src="<%- beer.image_url %>" alt="beerImage">
        <li>
            <%= beer.name %>
        </li>
        <li>
            <%= beer.description %>
        </li>
        <%    })%>

</div>