<!-- <h1>This is the ultimate Beer homepage</h1> -->
<div class="imageBeer">
    <img src="./images/beer.png" alt="freshBeerPic">


    <div>
        <button class="checkBeers"><a href="/beers">Check the beers!</a></button>
    </div>


    <div>
        <button class="checkRandomBeer"><a href="/randomBeer">Check a Random Beer!</a></button>
    </div>
</div>