<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Roberts Beersite</title>
    <!-- Mit dem nachfolgenden Link wird die CSS aufgerufen -->
    <link rel="stylesheet" href="/stylesheets/styles.css">

</head>

<body>
    <div class="bgNav">
        <nav>
            <a href="/">Home</a>
            <a href="/beers">Beers</a>
            <a href="/randomBeer">Random Beer</a>
        </nav>
    </div>

    <%- body %>

</body>

</html>